* {
    font-family: monospace;
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #1b1d1d;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
}

.c-header {
    width: 100%;
    height: 60px;
    background-color: #5bbca9;
    position: fixed;
}

.c-btn-icon {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 22px;
    height: 3px;
    cursor: pointer;
}

.c-btn-bar {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background-color: white;
    /* margin: 2px 0px 2px 0px; */
    position: absolute;
}

.c-btn-bar--horizontal {
    position: relative;
    float: left;
    margin-top: 3px;
    transition: all .3s;
}

.c-btn-bar--diagonal {
    position: relative;
    float: left;
    transition: all .3s;
}

.c-btn-bar--diagonal.diagonal-1{
    transition: all .3s;
}

.c-btn-bar--diagonal.diagonal-2{
    margin-top: 3px;
    transition: all .3s;
}

input[type='checkbox']{
    display: none;
    transition: all;
}

input[type='checkbox']:checked ~ .c-btn-icon > .c-btn-bar--horizontal{
    opacity: 0;
    transition: all .3s;
}

input[type='checkbox']:checked ~ .c-btn-icon > .c-btn-bar--diagonal.c-btn-bar--diagonal.diagonal-1{
    transform: rotate(135deg);
    margin-top: 8px;
    transition: all .3s;
}

input[type='checkbox']:checked ~ .c-btn-icon > .c-btn-bar--diagonal.c-btn-bar--diagonal.diagonal-2{
    transform: rotate(-135deg);
    margin-top: -8px;
    transition: all .3s;
}

.c-side-bar{
    position: fixed;
    width: 200px;
    height: 100%;
    top: 50px;
    font-weight: bold;
    background-color: #5bbca9;
    font-size: 15px;
    transform: translate(-200px);
    transition: transform 200ms ease-in-out;
}
input[type="checkbox"]:checked ~ .c-side-bar{
    transform: translateX(0);
}

li{
    margin-top: 40px;
    margin-left: 0px;
}

a{
    color: white;
}
.chat{
    position: fixed;
    top: 60px;
    left: 200px;
    width: 550px;
    height: 100%;
    background-color: #1b1d1d;
}
.msg1-sender{
    position: fixed;
    top: 80px;
    left: 280px;
}
.msg1-receiver{
    position: fixed;
    top: 185px;
    right: 280px;
}
.msg2-sender{
    position: fixed;
    top: 290px;
    left: 280px;
}
.msg2-receiver{
    position: fixed;
    top: 395px;
    right: 280px;
}
.msg-sender p{
    width: 100%;
    height: 100% ;
    padding: 3px;
    background-color: aliceblue;
    text-align: center;
    border-radius: 15%;
    font-weight: bold;
}
.msg-receiver p {
    width: 100%;
    height: 100% ;
    padding: 3px;
    background-color: #5bbca9;
    text-align: center;
    border-radius: 15%;
    font-weight: bold;
}

.status{
    position: fixed;
    top: 60px;
    right: 0px;
    width: 260px;
    height: 100%;
    background-color: rgb(71, 72, 70);
    color: white;
    font-weight: bold;
    text-align: center;
}









/* .container,
.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container2 {
    margin-top: 8px;
}
.item {
    width: 180px;
    height: 200px;
    background-color: aquamarine;
    text-align: center;
} */